@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-button {
    display: block;
  }
}

/* home */
#home {
  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
